/* Center the whole container */
#taskContainer {
    width: 60%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto; /* Center horizontally */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
}

/* Input style */
#taskContainer input {
    padding: 10px;
    font-size: 16px;
    width: 70%; /* Input width */
    border-radius: 5px;
    border: 1px solid #aaa;
}

/* Button style */
#taskContainer button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

#taskContainer button:hover {
    background-color: #45a049;
}

/* Task style */
#taskContainer .task {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}


.task button {
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.done-btn {
    background-color: #4CAF50;
    color: white;
}

.done-btn:disabled {
    background-color: #90EE90; 
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #e02f1b;
}

.task span {
    flex-grow: 1;
}
